

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.api{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: yellowgreen;
}

h1{
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.image-container{
    display: flex;
}
.image-container img{
    width: 100%;
}
article{
    padding: 5px;
    box-shadow: 0px 0px 1px #000;
}
.logo{
    position: none;
    width: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    filter: invert(63%) sepia(19%) saturate(3921%) hue-rotate(358deg) brightness(100%) contrast(103%);

}


.logop{
    position: none;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.fila{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    margin-top: 20px;
    
}


.boton1{
    position: none;
    text-align: center;
    list-style: none;
    background-color: grey;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 15px;
    box-shadow: 0 0 5px grey;

}



.line1{
    color: black;
    text-decoration: none;
}


    
.copy{
    position: none;
    text-align: center;
    margin-top: 20px;
}

.us{
    position: none;
    text-align: center;
}
.bottonfooter{
    position: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.whatsapp{
    filter: invert(68%) sepia(69%) saturate(5535%) hue-rotate(83deg) brightness(126%) contrast(119%);
}

.facebook{

}

.youtube{
    filter: invert(12%) sepia(99%) saturate(6796%) hue-rotate(3deg) brightness(103%) contrast(113%);
}

@media (min-width: 320px ) {


.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}
main{
    display: flex;
    flex-direction: column;
    
}

}
@media (min-width: 768px ) {


.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}
@media (min-width: 990px ) {

.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}