

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    position: none;
    width: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    filter: invert(63%) sepia(19%) saturate(3921%) hue-rotate(358deg) brightness(100%) contrast(103%);

}
.d-flex{
    position: none;
    margin-right: 50px;
}

.logop{
    position: none;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.fila{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.line1{
    color: black;
    text-decoration: none;
}

.line2{
    color: black;
    text-decoration: none;
}

.boton1{
    position: none;
    text-align: center;
    list-style: none;
    background-color: grey;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 15px;
    box-shadow: 0 0 5px grey;
    margin-left: 5px;

}

.boton2{
    position: none;
    text-align: center;
    list-style: none;
    background-color: grey;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 15px;
    box-shadow: 0 0 5px grey;
    margin-left: 5px;

}
.color{
    background-color: darkgray;
}
.copy{
    position: none;
    text-align: center;
    margin-top: 20px;
}
.us{
    position: none;
    text-align: center;
}
.bottonfooter{
    position: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.whatsapp{
    filter: invert(68%) sepia(69%) saturate(5535%) hue-rotate(83deg) brightness(126%) contrast(119%);
}

.facebook{

}

.youtube{
    filter: invert(12%) sepia(99%) saturate(6796%) hue-rotate(3deg) brightness(103%) contrast(113%);
}
@media (min-width: 320px ) {


.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: column;
}

}
@media (min-width: 768px ) {


.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}

}
@media (min-width: 990px ) {


.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
}

}