

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.logo{
    position: none;
    width: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    filter: invert(63%) sepia(19%) saturate(3921%) hue-rotate(358deg) brightness(100%) contrast(103%);

}

.logop{
    position: none;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.fila{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    margin-top: 20px;
    
}
.color{
    background-color: darkgrey;
}
.nombre{
    position: none;
    padding-top: 20px;
    font-size: 20px;
}
.apellido{
    position: none;
    padding-top: 20px;
    font-size: 20px;
    
}
.email{
    position: none;
    padding-top: 20px;
    font-size: 20px;
    padding-left: 20px;
    
}
.edad{
    position: none;
    padding-top: 20px;
    font-size: 20px;
    padding-right: 140px;
}
.fecha{
    position: none;
    padding-top: 20px;
    font-size: 20px;
    padding-right: 80px;
    
}

.genero{
    position: none;
    padding-top: 20px;
    font-size: 20px;
    
}
.aceptar{
    
    position: none;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    
}
.enviar{
    position: none;
    list-style: none;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 5px;
    padding-top: 20px;
}
.reset{
    
    position: none;
    list-style: none;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 5px;
    padding-top: 20px;
    
}
#formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton1{
    position: none;
    text-align: center;
    list-style: none;
    background-color: grey;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 15px;
    box-shadow: 0 0 5px grey;

}


.line1{
    color: black;
    text-decoration: none;
}


.titulo{
    position: none;
    text-align: center;
    padding-top: 60px;
    color: rgb(121, 121, 31);
    font-size: 5.2rem;

}

.colormain{
    background-color:rgb(32, 31, 31);
}
    
.copy{
    position: none;
    text-align: center;
    margin-top: 20px;
}

.us{
    position: none;
    text-align: center;
}
.bottonfooter{
    position: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.whatsapp{
    filter: invert(68%) sepia(69%) saturate(5535%) hue-rotate(83deg) brightness(126%) contrast(119%);
}

.facebook{

}

.youtube{
    filter: invert(12%) sepia(99%) saturate(6796%) hue-rotate(3deg) brightness(103%) contrast(113%);
}

@media (min-width: 320px ) {


.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

}
@media (min-width: 768px ) {


.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}

}
@media (min-width: 990px ) {


.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
    
    
    
}

}