
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.logo{
    position: none;
    width: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    filter: invert(63%) sepia(19%) saturate(3921%) hue-rotate(358deg) brightness(100%) contrast(103%);

}
.d-flex{
    position: none;
    margin-right: 50px;
}
.logo1{
    width: 50px;
    margin-left: 10px;
    filter: invert(63%) sepia(19%) saturate(3921%) hue-rotate(358deg) brightness(100%) contrast(103%);
}
.logop{
    position: none;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.fila{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    margin-top: 20px;
    
}

.boton1{
    position: none;
    text-align: center;
    list-style: none;
    background-color: grey;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 2px;
    border-radius: 15px;
    box-shadow: 0 0 5px grey;

}


.line1{
    color:black;
    text-decoration: none;
}




.titulo{
    position: none;
    text-align: center;
    padding-top: 10px;
    color: rgb(253, 228, 4);
    font-size: 5.2rem;

}
.carousel.slide{
    height: 600px;
    margin-left: 8px;
    
}
.motos{
    display: flex;
    flex-direction: row;
    background-color: black;
}

.moto01{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 3px;
    margin-top: 50px;
    font-size: 30px;
    box-shadow: 1px 1px 2px blue;
    border-radius: 20px;
    background-color: beige;
    text-align: center;
    
}

.button{
    position: none;
    background-color: rgb(121, 121, 31);;
    font-size: 20px;
    width: 150px;
    box-shadow: 4px -4px 24px;
    border-radius: 14px;
    align-self: center;
    
    
}
.colormain{
    background-color:rgb(32, 31, 31);
}
    
.copy{
    position: none;
    text-align: center;
    margin-top: 20px;
}

.us{
    position: none;
    text-align: center;
}
.bottonfooter{
    position: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.whatsapp{
    filter: invert(68%) sepia(69%) saturate(5535%) hue-rotate(83deg) brightness(126%) contrast(119%);
}

.facebook{

}

.youtube{
    filter: invert(12%) sepia(99%) saturate(6796%) hue-rotate(3deg) brightness(103%) contrast(113%);
}

@media (min-width: 320px ) {



.navbar{
    flex-direction: column;
}

.carousel.slide{
    position: none;
    display: flex;
    flex-direction: column;
    
    
}

.fila{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}
.moto01{
    display: flex;
    flex-direction: column;
}
.motos{
    display: flex;
    flex-direction: column;
}

}
@media (min-width: 768px ) {



.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}

.moto01{
    display: flex;
    flex-direction: column;
}
.motos{
    display: flex;
    flex-direction: column;
}
}
@media (min-width: 990px ) {



.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
    
    
    
}
.carousel.slide{
    position: none;
    display: flex;
    flex-direction: row;
    
    
}
.moto01{
    display: flex;
    flex-direction: column;
}
.motos{
    display: flex;
    flex-direction: row;
}
}