
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.logo{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
    filter: invert(74%) sepia(24%) saturate(1962%) hue-rotate(341deg) brightness(102%) contrast(95%);
    
}
.logop{ 
    padding-left: 65px;
    padding-top: 20px;
    font-size: 1.2rem;
    color: black;
    font-family: sans-serif;
    
}



.fila{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    
}
.boton0{
    position: none;
    text-align: center;
    list-style: none;
    background-color: grey;
    font-size: 20px;
    width: 125px;
    box-shadow: 4px -4px 24px;
    border-radius: 14px;
}
.boton1{
    position: none;
    text-align: center;
    list-style: none;
    background-color: grey;
    font-size: 20px;
    width: 125px;
    box-shadow: 4px -4px 24px;
    border-radius: 14px;


}

.boton2{
    position: none;
    text-align: center;
    list-style: none;
    background-color: grey;
    font-size: 20px;
    width: 125px;
    box-shadow: 4px -4px 24px;
    border-radius: 14px;
    

}

.boton3{
    position: none;
    text-align: center;
    list-style: none;
    background-color: grey;
    font-size: 20px;
    width: 125px;
    box-shadow: 4px -4px 24px;
    border-radius: 14px;

}

.boton4{
    position: none;
    text-align: center;
    list-style: none;
    background-color: grey;
    font-size: 20px;
    width: 125px;
    box-shadow: 4px -4px 24px;
    border-radius: 14px;

}

.boton5{
    position: none;
    text-align: center;
    list-style: none;
    background-color: gray;
    font-size: 20px;
    width: 140px;
    box-shadow: 4px -4px 24px;
    border-radius: 14px;

}


.line1{
    color: black;
    text-decoration: none;
}

.line2{
    color: black;
    text-decoration: none;
}

.line3{
    color: black;
    text-decoration: none;
}

.line4{
    color: black;
    text-decoration: none;
}

.line5{
    color: black;
    text-decoration: none;
}
.line6{
    color: black;
    text-decoration: none;
}


.titulo{
    position: none;
    text-align: center;
    padding-top: 60px;
    color: rgb(121, 121, 31);
    font-size: 5.2rem;

}
.carousel.slide{
    position: none;
    width: 100%;
    
    
}
.colormain{
    background-color:rgb(32, 31, 31);
}
    
.copy{
    position: none;
    text-align: center;
}

.us{
    position: none;
    text-align: center;
    margin-bottom: 50px;
}
.bottonfooter{
    position: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
    justify-content: space-around;
}

.whatsapp{
    filter: invert(68%) sepia(69%) saturate(5535%) hue-rotate(83deg) brightness(126%) contrast(119%);
}

.facebook{

}

.youtube{
    filter: invert(12%) sepia(99%) saturate(6796%) hue-rotate(3deg) brightness(103%) contrast(113%);
}

@media (min-width: 320px ) {

    .logo{
        flex-direction: column;
}
.logop{ 
    flex-direction: column;
}
.navbar{
    flex-direction: column;
}

.carousel.slide{
    flex-direction: column;
    position: none;
    width: 100%;
    
    
}

.fila{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

}
@media (min-width: 768px ) {

    .logo{
        flex-direction: column;
}
.logop{ 
    flex-direction: column;
}
.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}
.carousel.slide{
    flex-direction: column;
    position: none;
    width: 100%;
    
    
}

}
@media (min-width: 990px ) {

    .logo{
        flex-direction: column;
}
.logop{ 
    flex-direction: column;
}
.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
    
    
    
}
.carousel.slide{
    flex-direction: column;
    position: none;
    width: 100%;
    
    
}

}