

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}




.fila{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    margin-top: 20px;
    
}

.boton1{
    position: none;
    text-align: center;
    list-style: none;
    background-color: grey;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 15px;
    box-shadow: 0 0 5px grey;

}


.line1{
    color: black;
    text-decoration: none;
}

.color{
    background-color: darkgrey;
}

.titulo{
    position: none;
    text-align: center;
    padding-top: 60px;
    color: rgb(121, 121, 31);
    font-size: 2.2rem;

}
.logo{
    position: none;
    width: 120px;
    margin-left: 2px;

}

.d-flex{
    position: none;
    margin-right: 60px;
}

.color{
    background-color: darkgray;
}
.colormain{
    background-color:rgb(32, 31, 31);
}
        
.copy{
    position: none;
    text-align: center;
    margin-top: 20px;
}

.us{
    position: none;
    text-align: center;
}
.bottonfooter{
    position: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}


.whatsapp{
    filter: invert(68%) sepia(69%) saturate(5535%) hue-rotate(83deg) brightness(126%) contrast(119%);
}

.facebook{

}

.youtube{
    filter: invert(12%) sepia(99%) saturate(6796%) hue-rotate(3deg) brightness(103%) contrast(113%);
}

@media (min-width: 320px ) {

.logo{
        flex-direction: column;
}
.logop{ 
    flex-direction: column;
}
.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

}
@media (min-width: 768px ) {

    .logo{
        flex-direction: column;
}
.logop{ 
    flex-direction: column;
}
.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}

}
@media (min-width: 990px ) {

    .logo{
        flex-direction: column;
}
.logop{ 
    flex-direction: column;
}
.navbar{
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
    
    
    
}

}